{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="text-center m-4">Inscription</h1>
    <div class="w-75 m-auto">
        {{ form_start(registrationForm) }}

            <div class="mb-3">

                {{ form_label(registrationForm.name) }}
                {{ form_widget(registrationForm.name) }}
                {{ form_errors(registrationForm.name) }}

            </div>

             <div class="mb-3">

                {{ form_label(registrationForm.firstName) }}
                {{ form_widget(registrationForm.firstName) }}
                {{ form_errors(registrationForm.firstName) }}

            </div>
            
            <div class="mb-3">

                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email) }}
                {{ form_errors(registrationForm.email) }}

            </div>

            <div class="mb-3">

                {{ form_label(registrationForm.plainPassword) }}
                {{ form_widget(registrationForm.plainPassword) }}
                {{ form_errors(registrationForm.plainPassword) }}
            </div>

            <div class="mb-3">

                {{ form_label(registrationForm.pseudo) }}
                {{ form_widget(registrationForm.pseudo) }}
                {{ form_errors(registrationForm.pseudo) }}
            </div>

            <div class="mb-3">

                {{ form_label(registrationForm.agreeTerms) }}
                {{ form_widget(registrationForm.agreeTerms) }}
                {{ form_errors(registrationForm.agreeTerms) }}
            </div>


        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
