{% extends "base.html.twig" %}

{% block title %}Mes categories{% endblock %}

{% block body %}

    <nav class=" pt-5 bckgrndnv">
        <ul class="nav">   
            <li class="nav-item">
                <a class="nav-link " href="{{ path('app_magazine') }}">Magazines</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{{ path('app_categorie') }}">Categories</a>
            </li>    
        </ul>
    </nav>


            {% for message in app.flashes('success') %}

                <div class = "alert alert-success">
                    {{ message }}
                </div>
                
            {% endfor %}

    <div class='container px-4'>
        <div class="row gx-5">
            <div class="col">
                 <a class='btn btn-dark m-4' href="{{ path('app_categorie_new') }}"> Add +</a>
            </div>
            <div class="col m-4">
                <form method="GET">
                    <label for="numbers">Nombre de magazines par page</label>
                    <input type="hidden" name="page" value=" {{ app.request.query.get("page", 1) }}">
                    <select name="numbers" id="numbers" onchange ="this.form.submit();">
                        <option value="5">Choisissez une option</option>
                        <option value="5">5</option>
                        <option value="3">3</option>
                        <option value="1">1</option>
                    </select>
                </form>
            </div>
        </div>    
    </div>

    <style>
        .pill {
            height: 12px;
            width: 12px;
            border-radius: 50%;
        }
    </style>

    

    <table class='table table-light table-hover w-75 m-auto'>
        <thead>
            <th>Nom</th>
            <th>Couleur</th>
            <th>Editer</th>
            <th>Supprimer</th>
            <th>Image</th>


        </thead>
        <tbody>
            {% for categorie in categories %}
                <tr>
                    <td> {{categorie.name}} </td>
                    <td> 
                        <div class="pill me-2" style="background-color: {{ categorie.color }}"></div>
                    </td>                
                    <td><a href="{{ path('app_categorie_edit', { id:categorie.id }) }}"><button class="btn btn-warning">Editer</button></a></td>
                    <td>
                        <form action="{{ path('app_categorie_delet', { id:categorie.id }) }}" method="post">

                            <input type="hidden" name='token' value="{{ csrf_token('delet-categorie-'~ categorie.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        
                        </form>
                    </td>
                   <td>
                        {# Si l'image existe, on l'affiche en appliquant un filtre #}
                        {% if vich_uploader_asset(categorie, 'coverFile') is not null %}
                            <img src="{{ vich_uploader_asset(categorie, 'coverFile')|imagine_filter('thumbnail') }}" alt="{{ magazine.name }}">
                        {% endif %}
                    </td>

                   
                </tr>    
            
            
            
            {% endfor %}
        
        
        
        </tbody>



    </table>

<div class="d-flex">

        <div class="m-auto pt-2">

            {{ knp_pagination_render(categories) }}
            
        </div>
</div>



{% endblock %}