{% extends 'base.html.twig' %}

{% block title %}Hello MagazineController!{% endblock %}

{% block body %}

    

  <nav class=" pt-5 bckgrndnv">
        <ul class="nav">   
            <li class="nav-item">
                <a class="nav-link " href="{{ path('app_magazine') }}">Magazines</a>
            </li>
            {% if app.user is not null %}
                 <li class="nav-item">
                    <a class="nav-link " href="{{ path('app_categorie') }}">Categories</a>
                 </li>

                 <li>
                <a href="{{ path('app_logout') }}" class='nav-link'>Se deconnecter</a>
            </li>
            {% endif %}
            {% if app.user is null %}
                <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">Me connecter</a>
           </li>
            {% endif %}
           
            
        </ul>

        

    </nav>
    {% for message in app.flashes('success') %}

                <div class = "alert alert-success">
                    {{ message }}
                </div>
                
    {% endfor %}
    

    <div class='container px-4'>
        <div class="row gx-5">
        {% if app.user is not null %}
            <div class="col">
                <a class='btn btn-dark m-4' href="{{ path('app_magazine_new') }}"> Add +</a>
            </div>
        {% endif %}
            
            <div class="col m-4">
                <form method="GET">
                    <label for="numbers">Nombre de magazines par page</label>
                    <input type="hidden" name="page" value=" {{ app.request.query.get("page", 1) }}">
                    <select name="numbers" id="numbers" onchange ="this.form.submit();">
                        <option value="5">Choisissez une option</option>
                        <option value="5">5</option>
                        <option value="3">3</option>
                        <option value="1">1</option>
                    </select>
                </form>
            </div>
        </div>    
    </div>

    <table class='table table-light table-hover w-75 m-auto'>
        <thead>
            <tr>    
                <th>Name</th>
                <th>Détails</th>
                <th>Image</th>
            {% if app.user is not null %}
                <th>Editer</th>
                <th>Supprimer</th>
            {% endif %}
                
                
                
            </tr>
        </thead>
        <tbody class="mb-3">
            {% for magazine in magazines %}
                <tr>
                    <td>{{ magazine.name }}</td>

                    
                    <td>
                        <a class="btn btn-info" href= "{{ path('app_id', { id:magazine.id }) }}">Details</a>
                    </td>


                    <td>
                        {# Si l'image existe, on l'affiche en appliquant un filtre #}
                        {% if vich_uploader_asset(magazine, 'profileFile') is not null %}
                            <img src="{{ vich_uploader_asset(magazine, 'profileFile')|imagine_filter('thumbnail') }}" alt="{{ magazine.name }}">
                        {% endif %}
                    </td>
                   
                    {% if app.user is not null %}
                            
                        <td><a href="{{ path('app_magazine_edit', { id:magazine.id }) }}"><button class="btn btn-warning">Editer</button></a></td>
                        <td>
                
                       <form action="{{ path('magazine_delete', { id: magazine.id }) }}" method="post" class="d-inline">
                            <input type="hidden" name="token" value="{{ csrf_token('delete-magazine-'~ magazine.id) }}">
                            <button class="btn btn-sm btn-outline-danger">Supprimer</button>
                        </form>
                 
                            
                        </td>
                    {% endif %}
                     
            {% endfor %}

        </tbody> 
        
    </table>

    <div class="d-flex">

        <div class="m-auto pt-2">

            {{ knp_pagination_render(magazines) }}

        
        </div>
    
    </div>

     

{% endblock %}
